{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <br>
    Hello {{ user.email }}
    <br>
    Your tenant ID: {{ user.custom_data['tenant_id'] }}
    <br><br>
    <a href="/logout">Logout</a>
    <br>
    <a href="/new_contact/">New Contact</a>
    <br>
    <div class="page-header">
        <h1>Contacts</h1>
    </div>
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
                <th>Name</th>
                <th>Email</th>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
</div>
{% endblock %}