{% extends 'account/base.html' %}

{% block title %}Register for an Account{% endblock %}

{% block content %}

<body class="theme-default page-signup-alt">

    <!-- Top Nav -->
    <div class="signup-header">
        <a href="index.html" class="logo">
            <strong>Photog</strong>App
        </a> <!-- / .logo -->
        <a href="{{ url_for('stormpath.login') }}" class="btn btn-primary">Login</a>
    </div> <!-- / .header -->
    <!-- / Top Nav -->

    <!-- Page Header -->
    <br/>
    <h1 class="form-header">Register for an Account</h1>
    <!-- / Page Header -->
    <!-- Form -->
    <form class="panel" role="form" method="post" onsubmit="button.disabled = true; return true">
    {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-danger">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
            {% endif %}
        {% endwith %}
         {% for error in form.password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        <div class="form-group">
            {{ form.email(class='form-control input-lg', placeholder='Email', required='true', type='email') }}
        </div>
        <div class="form-group">
            {{ form.password(class='form-control input-lg', placeholder='Password', required='true', type='password') }}
        </div>
        <div class="form-group">
            {{ form.password_again(class='form-control input-lg', placeholder='Password (again)', required='true') }}
        </div> <!-- / Password -->

        <div class="form-actions">
            <input type="submit" value="Sign Up" name="button" class="btn btn-primary btn-lg btn-block">
        </div>
    </form>
    <!-- / Form -->

{% endblock %}