{% extends 'dashboard/base.html' %}

{% block title %}Profile - {{ user.email }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Account</h1>
</div>

<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title">Profile - {{ user.email }}</span>
    </div>
    <div class="panel-body">
        <p><b>Name:</b> <a href="#">Set Name</a></p>
        <p><b>Email:</b> {{ user.email }}</p>
        <p><a href="#">Reset Password</a></p> 
    </div>
</div>

<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title">Team Members</span>
    </div>
    <div class="panel-body">
        <p><b>Site admin:</b> {{ user.email }}</p><br>
        <p><a href="{{ url_for('add_user') }}"><button class="btn btn-info">Add Team Member</button></a></p>
    </div>
</div>
{% endblock %}