{% extends 'dashboard/base.html' %}

{% block title %}Add User{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Account</h1>
</div>

<form class="panel form-horizontal" method="post">
{{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-success">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
    {% endwith %}
    <div class="panel-heading">
        <span class="panel-title">Add Team Member</span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                {{ form.email(class='form-control', placeholder='', required='true', type='email') }}
            </div>
        </div>
    <div class="form-group" style="margin-bottom: 0;">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}