{% extends 'dashboard/base.html' %}

{% block title %}Profile - {{ user.email }}{% endblock %}

{% block head %}
<style>
.hidden { display: none; }
</style>
<script>
$(document).ready(function(){
    $("#namelink").click(function(){
        $('form').removeClass('hidden');
    });
});
</script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Account</h1>
</div>

<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title">Profile</span>
    </div>
    <div class="panel-body">
        <p><b>Name: </b>
        {% if user.given_name != 'Anonymous' %}
            {{ user.given_name }} <a href="#" id="namelink">(edit)</a></p>
        {% else %}
            <a href="#" id="namelink">Set name</a></p>
        {% endif %}
        <form class="form-inline hidden" method="post">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Name</label>
                <input class="form-control" name="name" id="name" placeholder="First Name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p><b>Email: </b> {{ user.email }}</p>
        <p><a href="/forgot">Reset Password</a></p> 
    </div>
</div>

<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title">Team Members</span>
    </div>
    <div class="panel-body">
        {% for a in accounts %}
            {% if a.custom_data['site_admin'] == True %}
                <p>{{ a }} (Site Admin)</p><br>
            {% endif %}
        {% endfor %}
        {% for a in accounts %}
            {% if a.custom_data['site_admin'] == 'False' %}
                <p>{{ a }}</p><br>
            {% endif %}
        {% endfor %}
        {% if user.custom_data['site_admin'] == True %}
            <p><a href="{{ url_for('accounts.add_user') }}"><button class="btn btn-primary"><span class="btn-label icon fa fa-plus"></span>&nbsp;&nbsp;Add Team Member</button></a></p>
        {% endif %}
    </div>
</div>
{% endblock %}