{% extends 'dashboard/base.html' %}

{% block title %}Contact Details{% endblock %}

{% block content %}
<b>Contact</b>

<p>{{ contact.name }}</p>
<p>{{ contact.email }}</p>
<p>{{ contact.phone }}</p>
{% if contact.lead_source %}
    <p>Lead source: {{ contact.lead_source }}</p>
{% endif %}
{% if contact.comment %}
    <p>Initial note: {{ contact.comment }}</p>
{% endif %}

<b>Notes</b>
{% for note in notes %}
    <p>{{ note.content }}</p>
    <p>Added by {{ get_user(note.created_by).email }} {{ note.created_date|pretty_date }}</p>
{% endfor %}

<form class="panel form-horizontal" method="post">
{{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-success">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
    {% endwith %}
    <div class="panel-heading">
        <span class="panel-title">Add Note</span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <label class="col-sm-2 control-label">Note</label>
            <div class="col-sm-6">
                {{ form.content(class='form-control', placeholder='', required='true') }}
            </div>
        </div>
    <div class="form-group" style="margin-bottom: 0;">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock %}