{% extends 'dashboard/base.html' %}

{% block title %}Contact Details{% endblock %}

{% block content %}
<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title"><i class="panel-title-icon fa fa-book"></i>Contact Details</span>
    </div>
    <div class="panel-body">
        <p class="text-lg"><b>{{ contact.name }}</b></p>
        <p><i class="fa fa-envelope" style="color: #888"></i> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
        <p><i class="fa fa-phone-square" style="color: #888"></i> {{ contact.phone }}</p>
        {% if contact.lead_source %}
            <p><b>Lead source 2:</b> {{ contact.lead_source }}</p>
        {% endif %}
        {% if contact.comment %}
            <p><b>Comment:</b> {{ contact.comment }}</p>
        {% endif %}
        <br>
        <a href="{{ url_for('dashboard.edit_contact', contact_id=contact.id) }}"><button class="btn btn-info">Edit</button></a>&nbsp;&nbsp;
        <!-- Danger -->
            <div id="uidemo-modals-alerts-danger" class="modal modal-alert modal-danger fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-times-circle"></i>
                        </div>
                        <div class="modal-title">Are you sure?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Cancel</button>&nbsp;
                             <a href="{{ url_for('dashboard.delete_contact', contact_id=contact.id) }}"><button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button></a>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div> <!-- / .modal -->
            <!-- / Danger -->
           <button class="btn btn-danger" data-toggle="modal" data-target="#uidemo-modals-alerts-danger">Delete</button>
    </div>
</div>

<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title"><i class="panel-title-icon fa fa-star-o"></i>Activity</span>
    </div>
    <div class="panel-body">
    {% for note in notes %}
        <p>{{ note.content }}</p>
        <p class="text-light-gray">Added by {{ get_user(note.created_by).email }} {{ note.created_date|pretty_date }}</p>
    {% endfor %}
    </div>
</div>

<form class="panel form-horizontal" method="post">
{{ form.hidden_tag() }}
    <div class="panel-heading">
        <span class="panel-title">Add Note</span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <label class="col-sm-2 control-label">Note</label>
            <div class="col-sm-6">
                {{ form.content(class='form-control', placeholder='', required='true') }}
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0;">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
</form>



{% endblock %}