{% extends 'account/base.html' %}

{% block content %}

<body class="theme-default page-signin-alt">
    
    <!-- 2. $MAIN_NAVIGATION ===========================================================================

        Main navigation
    -->
    <div class="signin-header">
        <a href="index.html" class="logo">
            <strong>Photog</strong>App
        </a> <!-- / .logo -->
        <a href="{{ url_for('register') }}" class="btn btn-primary">Sign Up</a>
    </div> <!-- / .header -->

    <h1 class="form-header">Sign in to your Account</h1>

    <!-- Form -->
    <form action="index.html" id="signin-form_id" class="panel">
        <div class="form-group">
            <input type="text" name="signin_username" id="username_id" class="form-control input-lg" placeholder="Username or email">
        </div> <!-- / Username -->

        <div class="form-group signin-password">
            <input type="password" name="signin_password" id="password_id" class="form-control input-lg" placeholder="Password">
            <a href="#" class="forgot">Forgot?</a>
        </div> <!-- / Password -->

        <div class="form-actions">
            <input type="submit" value="Sign In" class="btn btn-primary btn-block btn-lg">
        </div> <!-- / .form-actions -->
    </form>
    <!-- / Form -->

</body>

{% endblock %}